<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
    <style>
        /* .container
        {
           font-size: 15pt;
        } */
        /* .btn
        {
            color: cornflowerblue;
        } */
        .column
        {
            /* float: left; */
            margin-right: 1px;
            /* text-align: center; */
        }
        .clear
        {
            clear: left;
        }
        .answers
        {
            margin-right: 2px;
            float: left;
            /* color: cornflowerblue; */
        }
        .main
        {
            text-align: center;
            align-content: center;
        }
        .que
        {
            font-size: 20px;
            display:inline-block;
            text-align:left;
        }
        .num
        {
            font-size: 20px;
        }
        
    </style>

    <div id="app">
        <v-app>
          <v-main class="main">
           <div v-show="show1">
              
            <v-container>問題：{{num}}</v-container>
            <p class="que">{{Question}}</p><br>
            
            <v-row>
            <v-col class="answers" v-for="ans in shuffle(Answers)" :key="ans">
            <!-- <p class="float-lg-left" v-for="ans in shuffle(Answers)">             -->
            <v-btn @click="checkA(ans)" class="column" type="button"  elevation="4" outlined large>{{ans}}</v-btn>
            </v-col></v-row>
        <div class="clear"></div>
    <!-- </p> -->
                
                <!-- <p>{{Answers}},{{Correct}}</p><p>Id:{{Id}},正解数{{score}},総数{{len}}</p> -->
            </div>
            <div v-show="show2">
                
                <p class="num">正解数 : {{score}}</p>
                <v-btn href="index.html" type="button"  elevation="4" outlined >おわり</v-btn>
            </div>
          </v-main>
        </v-app>
      </div>
        
        <script>
        
        let url = "https://script.google.com/macros/s/AKfycbyJMpTFY3TtzksiA55STjkx5dp4m3MCRWdQC8bocTgMDLFR98ht/exec";   
            new Vue({
                    el: '#app',
                    vuetify: new Vuetify(),
                    data: {
                        Question: '',
                        Correct: '',
                        Answers: '',
                        Id:'',
                        num: 1,
                        score: 0,
                        show1: true,
                        show2: false,
                        totall: 8,
                        len: 1,
                        
                    },
                    //beforeCreate(){
                    // created(){
                    //     axios.get("https://script.google.com/macros/s/AKfycbyJMpTFY3TtzksiA55STjkx5dp4m3MCRWdQC8bocTgMDLFR98ht/exec")
                    //          .then(res => this.len = res.data.length)
                    //             //console.log(len)
                    //          .catch(res =>(res))
                    //this.QuizLength();//先に読み込まない
                    //},
                    
                    created() {                       
                   
                        this.InitializeData();                   
                    

                     },
                    
                    methods:{
                       async InitializeData()
                       {
                           //データ初期設定
                            await axios.get(url)
                                .then(res =>{
                                    this.len = res.data.length})
                                .catch(err => (err));
                            //console.log(this.len);
                            //総クイズ数を求め、ランダム数を求める
                            let i = await Math.floor(Math.random() * this.len);
                            //console.log(i);
                            await axios.get(url)
                                .then(res => { 
                                                this.Question   =   res.data[i].Qui
                                                this.Correct    =   res.data[i].AnsA
                                                this.Id         =  [res.data[i].Id]
                                                this.Answers    =  [res.data[i].AnsA,
                                                                    res.data[i].AnsB,
                                                                    res.data[i].AnsC,
                                                                    res.data[i].AnsD]
                                })
                                .catch(res => (res));                         
                        },
                        
                        shuffle(array){
                             //選択肢のランダム配置
                            const ary = array.slice()
                            for(let i = array.length -1; i > 0; i--)
                            {
                                let y = Math.floor(Math.random() * 3);                           
                                [ary[i], ary[y]] = [ary[y], ary[i]]
                            }
                            //console.log(ary)
                            return ary
                        },
                        //文字列に同一が見つかると"true"
                        /// => false                      
                        linearSearch(num) {
                            let index = -1;
                            num++;
                            for(let i = 0, x = this.Id.length; i < x; i++)
                            {
                                if (this.Id[i] === num) 
                                {
                                    index = i;
                                    break;
                                }
                            }
                            if(index === -1)
                                return false
                            else
                                return true
                        },                          
                                                               
                        checkA(ans){ 
                            //答え判定                           
                            console.log(ans)
                            if(this.Correct === ans)
                                this.score++
                            this.num++
                            
                            let i = 0;
                            do {
                                i = Math.floor(Math.random() * this.len);                                
                            }while(this.linearSearch(i));
                            //let i = console.log(this.getResult());
                            // do{
                            // i = Math.floor( Math.random() * this.len );
                            // this.getResult(i);
                            // }while(1);

                            axios.get(url)
                                 .then(res => {
                                    this.Question   =  res.data[i].Qui
                                    this.Correct    =  res.data[i].AnsA                                            
                                    this.Answers    = [res.data[i].AnsA,
                                                       res.data[i].AnsB, 
                                                       res.data[i].AnsC, 
                                                       res.data[i].AnsD]
                                 })
                                 .catch(res => console.log(res))
                            this.Id.push(i +1)                                        
                            if(this.num > 5)
                            {
                                this.show1 = false;
                                this.show2 = true;
                            }
                        }    
                    },
                    
            });
                     
        </script>


</body>
</html>
